{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}
