.MoviesSearch {
  background-color: #fff;
  border-radius: 2px;
  cursor: text;
  font-size: 18px;
  height: 44px;
  line-height: 36px;
  outline: none;
  position: relative;
}

.MoviesSearch > input {
  box-sizing: border-box;
  margin: 0;
  display: block;
  padding-left: 8px;
  height: 44px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ddd;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
 
.MoviesSearch > input:focus {
  box-shadow: 0 0 5px rgba(204, 204, 204, 1);
}

.MoviesSearch__list-group {
  color: #333;
  padding-left: 0;
  background-color: #fff;
  position: absolute;
  width: 100%;
}

.MoviesSearch__list-group li {
  display: block;
  line-height: 1.6em;
}

.MoviesSearch__list-group li:nth-of-type(odd) {
  background-color: #fafafa;
}

.MoviesSearch__list-group li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding-left: 8px;
  border-bottom: 1px solid transparent;
}

.MoviesSearch__list-group li a span {
  color: #c3c3c3;
  margin-left: 0.5rem;
}

.MoviesSearch__list-group li a:hover {
  border-bottom: 1px solid #888;
  color: #888;
}